.navbar .brand {
    color: #ffffff;
    margin-left: 10px;
}
.navbar-inner{
    background: none repeat scroll 0 0 #3B6998;
    color: #ffffff;
}

.navbar .nav > li > a {
    color: #FFFFFF;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.navbar .nav > li > a:focus {
    color: #ffffff;
}

.index-thumb li{
    list-style: none;
    float: left;
    padding: 20px;
}

.index-thumb li img{
    width: 150px;
    height: 150px;
}

footer p{
   text-align: center;
}